[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot
    branch = master
    ignore = dirty
    shallow = true
[submodule "zsh/oh-my-zsh"]
    path = zsh/oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
    branch = master
    ignore = dirty
    shallow = true
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
    path = zsh/custom/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
    branch = master
    shallow = true
[submodule "zsh/custom/plugins/zsh-completions"]
    path = zsh/custom/plugins/zsh-completions
    url = https://github.com/zsh-users/zsh-completions.git
    branch = master
    shallow = true
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
    path = zsh/custom/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
    branch = master
    shallow = true
[submodule "zsh/custom/themes/spaceship-prompt"]
    path = zsh/custom/themes/spaceship-prompt
    url = https://github.com/denysdovhan/spaceship-prompt.git
    branch = master
    ignore = dirty
    shallow = true
[submodule "vim/vim-plug"]
    path = vim/vim-plug
    url = https://github.com/junegunn/vim-plug.git
    branch = master
    shallow = true
[submodule "z"]
    path = z
    url = https://github.com/rupa/z
    shallow = true
[submodule "fzf"]
    path = fzf
    url = https://github.com/junegunn/fzf
    shallow = true
[submodule "asdf"]
    path = asdf
    url = https://github.com/asdf-vm/asdf.git
